<% if signed_in? %>
  Welcome <%= current_user.email %>
  <%= link_to "Sign out", sign_out_path, :method => :delete %>
<% else %>
  <%= link_to "Sign up", sign_up_path %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>

<% if signed_in? %>
  <%= form_for(@shout, :remote => true) do |form| %>
    <%= render "form_errors", :errors => @shout.errors %>
    <%= form.text_field :body, :placeholder => "Shout" %>
    <%= form.submit "Shout!" %>
  <% end %>
<% end %>

<h2>Shouts</h2>
<div id="shouts">
  <%= render @shouts %>
</div>
