<% if signed_in? %>
  <%= form_for(@shout, :remote => true) do |form| %>
    <%= render "form_errors", :errors => @shout.errors %>
    <%= form.text_field :body, :placeholder => "Shout" %>
    <%= form.submit "Shout!" %>
  <% end %>
<% end %>

<h2>Shouts</h2>
<div id="shouts">
  <%= render @shouts %>
</div>
